@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #27262A;
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  width: 95%;
}

.header__wrapper > * {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__wrapper-logo-text {
  display: none;
}

.header__wrapper-button_buy {
  padding: 10px 15px;
}

.header__wrapper-button_buy:first-child {
  margin-right: 0.4em;
}

.header__wrapper-menu {
  display: none;
  width: 90%;
  background-color: #333333;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 5%;
  top: 103px;
  font-size: 26px;
  z-index: 1;
}

.header__wrapper-menu-item {
  padding: 29px 0px 21px 29px;
  color: #fff;
  border-bottom: 1px solid #3B3B3B;
}

.header__wrapper-menu-item:hover {
  color: #8d81ac;
  border-left: 3px solid #8d81ac;
  line-height: 10px;
}

.header__wrapper-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 90%;
}

.nav-toggle {
  margin-right: 15px;
  width: 30px;
  padding: 15px 0;
  z-index: 1;
  right: 5px;
  position: relative;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item:before {
  top: -8px;
  width: 50%;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
      -ms-transform: rotate(45deg) translateX(-3px);
          transform: rotate(45deg) translateX(-3px);
  width: 100%;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate(-2px);
      -ms-transform: rotate(-45deg) translate(-2px);
          transform: rotate(-45deg) translate(-2px);
}

.fork__wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/reviewsBG/720.png");
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.fork__wrapper-header {
  margin-top: 108px;
  margin-bottom: 88px;
  font-weight: 700;
  font-size: 36px;
}

.fork__wrapper-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fork__wrapper-reviews_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 166px;
  width: 90%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fork__wrapper-desc {
  padding-top: 70px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 20px;
  width: 90%;
  color: #A291A5;
}

.fork__wrapper:after {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.fork__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fork__container:after {
  content: "";
  border-bottom: 2px solid #645766;
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
}

.get {
  padding-top: 70px;
  margin: 0 auto;
}

.get__header,
.get__image-data-header {
  margin: 0 auto;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #8D81AC;
}

.get__item:not(:last-child) {
  margin-bottom: 38px;
}

.get__item-wrapper {
  margin-top: 36px;
}

.get__item-heading {
  margin-top: 24px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.get__item-desc {
  font-size: 14px;
  line-height: 21px;
  font-family: "Lato", sans-serif;
  color: #848E97;
}

.pricing {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-image: url("../img/pricing_BG.jpg");
}

.pricing__heading {
  margin-bottom: 30px;
  padding-top: 98px;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
}

.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 257px;
  height: 457px;
  background-color: rgba(255, 255, 255, 0.11);
  color: #fff;
}

.pricing__item:hover {
  cursor: pointer;
  background-color: rgba(70, 48, 72, 0.84);
}

.pricing__item:hover__item-heading {
  background-color: rgba(0, 0, 0, 0.11);
}

.pricing__item:not(:last-child) {
  margin-bottom: 18px;
}

.pricing__item-heading {
  padding: 36px 0px;
  background-color: rgba(255, 255, 255, 0.06);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.pricing__item.active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  background-color: rgba(70, 48, 72, 0.84);
}

.pricing__item.active .pricing__item-heading {
  background-color: rgba(0, 0, 0, 0.11);
}

.pricing__item-price {
  font-size: 60px;
  line-height: 90px;
}

.pricing__item-time {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.pricing__item-time:after {
  margin: 30px auto;
  display: block;
  content: "";
  border-bottom: 5px solid #8D81AC;
  width: 60px;
}

.pricing__item-desc {
  margin: 0 auto;
  width: 210px;
  font-size: 16px;
}

.pricing__purchase {
  margin-bottom: 18px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 15px 38px;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

.editor {
  text-align: center;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 70px;
}

.editor__header {
  margin-top: 129px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #635C73;
}

.editor__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.editor__stats {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.editor__stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  margin-top: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 26px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
}

.editor__stats-item-name-text {
  padding: 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.editor__stats-counter {
  font-size: 16px;
  font-weight: bold;
  padding: 0 4px;
  line-height: 28px;
  background-color: #ffffff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 2px solid #d5d5d5;
}

.editor .star {
  height: 18px;
}

.app__wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/320.png");
  height: 720px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.app__btn-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -57px;
  text-align: center;
}

.app__btn-wrapper-btn {
  padding: 13px 29px;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.app__btn-wrapper-btn_desc {
  margin-top: 19px;
  color: #848E97;
  font-size: 14px;
}

.app__wrapper-info {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.app__wrapper-info__header {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 700;
}

.app__wrapper-info__desc {
  margin-top: 19px;
  font-size: 18px;
  color: #8D81AC;
}

.app__wrapper-info__platform {
  color: #848E97;
  margin-top: 19px;
  font-size: 14px;
}

.btn {
  border: none;
  border-radius: 40px;
  background-color: #8D81AC;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  color: #8d81ac;
  background-color: #fff;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 481px) {
  .app__wrapper {
    background-image: url("../img/720.png");
    height: 720px;
  }

  .app__wrapper__btn-wrapper-btn {
    padding: 23px 61px;
    font-size: 21px;
    bottom: -34px;
  }

  .app__wrapper-info__header {
    margin-top: 70px;
    font-size: 72px;
    font-weight: 700;
  }

  .app__wrapper-info__desc {
    margin-top: 19px;
    font-size: 24px;
    color: #8D81AC;
  }

  .app__wrapper-info__platform {
    margin-top: 19px;
    font-size: 16px;
  }
}

@media (min-width: 991px) {
  .get {
    padding-bottom: 50px;
    background: #F4F4F4;
  }

  .get__header {
    display: none;
  }

  .get__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .get__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 20px;
  }

  .get__item-wrapper,
  .get__get__image-data {
    width: 50%;
  }

  .get__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }

  .get__item-info {
    width: 84%;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
  }

  .get__item-heading {
    margin-top: 0;
    font-size: 16px;
  }

  .get__image-data-header {
    margin-top: 30px;
  }

  .get__item:nth-child(3) .get__item-icon {
    padding-left: 15px;
    padding-right: 36px;
  }

  .get__item:nth-child(2) .get__item-icon {
    padding-right: 21px;
  }

  .get__item:nth-child(4) .get__item-icon {
    padding-left: 11px;
    padding-right: 30px;
  }

  .get__img {
    margin-top: 20px;
    margin-left: 4px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -3% 0;
       object-position: -3% 0;
  }
}

@media (min-width: 992px) {
  .app__wrapper {
    background-image: url("../img/1200.png");
    height: 800px;
  }

  .app__wrapper-info__header {
    margin-top: 115px;
    font-size: 82px;
    font-weight: 700;
  }

  .app__wrapper-info__desc {
    margin-top: 19px;
    font-size: 30px;
    color: #8D81AC;
  }

  .app__wrapper-info__platform {
    margin-top: 19px;
    font-size: 16px;
  }
}

@media (min-width: 993px) {
  .pricing {
    padding-bottom: 100px;
  }

  .pricing__heading {
    font-size: 48px;
  }

  .pricing__wrapper {
    margin-top: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .pricing__item.active {
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
  }
}

@media (min-Width: 481px) and (max-width: 992px) {
  .fork__container {
    width: 100%;
  }

  .fork__wrapper-reviews {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .fork__wrapper-reviews_item {
    width: 35%;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 90%;
  }

  .get {
    background: none;
  }

  .get__header {
    display: block;
    font-size: 42px;
    margin-bottom: 56px;
  }

  .get__image-data-header {
    display: none;
  }

  .get__item-wrapper {
    width: 90vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .get__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }

  .get__item-info {
    width: 84%;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
  }

  .get__item-heading {
    margin-top: 0;
  }

  .get__item:nth-child(3) .get__item-icon {
    padding-left: 15px;
    padding-right: 36px;
  }

  .get__item:nth-child(2) .get__item-icon {
    padding-right: 21px;
  }

  .get__item:nth-child(4) .get__item-icon {
    padding-left: 11px;
    padding-right: 30px;
  }

  .get__img {
    margin-top: 69px;
    margin-left: 4px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -3% 0;
       object-position: -3% 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .get__image-data-header {
    display: none;
  }

  .get__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -3% 0;
       object-position: -3% 0;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .pricing__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    max-width: 540px;
  }

  .pricing__item:not(:first-child .pricing :nth-child(2)) {
    margin-bottom: 70px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pricing__item.active {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    background-color: rgba(70, 48, 72, 0.84);
    margin-bottom: 110px;
  }
}

@media (min-Width: 768px) {
  .container {
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .header {
    color: #8D81AC;
    height: 118px;
    position: relative;
  }

  .header__wrapper-menu {
    all: unset;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    bottom: 18px;
    left: 20%;
  }

  .header__wrapper-menu-item {
    all: unset;
  }

  .header__wrapper-button_buy {
    padding: 11px 35px;
  }

  .header__wrapper-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__wrapper-logo-text {
    display: block;
    margin-left: 17px;
    font-size: 24px;
    text-transform: uppercase;
  }

  .header__wrapper-logo:hover,
  .header__wrapper-button-buy:hover,
  .header__wrapper-menu-item:hover {
    cursor: pointer;
    color: #fff;
    border: none;
  }

  .header__wrapper-logo:hover,
  .header__wrapper-menu-item:hover {
    color: #fff;
  }
}

@media (min-Width: 1200px) {
  .header {
    color: #8D81AC;
    height: 118px;
    background-color: #000;
  }

  .header__wrapper-menu {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__wrapper-menu-item {
    all: unset;
  }

  .header__wrapper-menu-item:not(:first-child) {
    margin-left: 48px;
  }

  .header__wrapper-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header__wrapper-links > *:first-child {
    margin-left: 48px;
  }
}

@media (min-Width: 993px) {
  .fork__wrapper-reviews_item {
    width: 30%;
  }
}

.webp .fork__wrapper { background-image: url(../img/reviewsBG/720.webp); }

.webp .pricing { background-image: url(../img/pricing_BG.webp); }

.webp .app__wrapper { background-image: url(../img/320.webp); }

@media (min-width: 481px) {

  .webp .app__wrapper { background-image: url(../img/720.webp); }
}

@media (min-width: 992px) {

  .webp .app__wrapper { background-image: url(../img/1200.webp); }
}